h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 20px;
}
  
app-add-item,
app-list-item {
    display: block;
    max-width: 400px;
    margin: 0 auto;
}
  